.background {
    background-image: url(https:cdn5.vectorstock.com/i/1000x1000/26/14/basketball-arena-field-with-bright-stadium-lights-vector-21722614.jpg);
    height: 100vh;
    color: white;
    text-align: center;
}